.render-reporter {
  border: 1px solid;
  display: block;
  padding: 20px;
}

.reporter-0 {
  border-color: black;
  height: 500px;
}

.reporter-1 {
  border-color: yellow;
  height: 400px;
}

.reporter-2 {
  border-color: blue;
  height: 300px;
}

.reporter-3 {
  border-color: magenta;
}

.reporter-4 {
  border-color: green;
}

.reporter-5 {
  border-color: red;
}
